@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;            /* prevent body scroll */
  background-color: black;
  overscroll-behavior: none;  /* prevent bounce */
}


.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
}
